################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/BlazingApple.Google/.vs/BlazingApple.Google
**/.vs/**
**/bin/*
**/obj/**
/examples/BlazingAppleConsumer.Google/.vs/*
**/wwwroot/lib/**