@if (Review is not null)
{
	<div class="d-flex flex-column">
		<div class="d-flex" style="border-radius:2px; background-color:#efefef !important; padding: 15px;">
			<div>
				@for (int i = 1; i <= Review.Rating; i++)
				{
					<span style="color: palegoldenrod;">⭐</span>
				}
			</div>
			<div>
				<div style="overflow-x: hidden; overflow-y:auto; padding-right: 10px;">
					@Review.Text
				</div>
			</div>
		</div>
		<div class="d-flex align-items-center">
			<div>
				<img src="@Review.ProfilePhotoUrl" />
			</div>
			<div class="d-flex flex-column">
				<div>
					<strong>@Review.AuthorName</strong>
				</div>
				<small class="text-muted">
					@Review.DateTime.ToShortDateString()
				</small>
			</div>
		</div>
	</div>
}